# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files on some external volumes
Icon?

# Thumbnails
._*

# Spotlight and Trash
.Spotlight-V100
.Trashes

# Time Machine
.TemporaryItems

# APFS / volume-related
.fseventsd
.VolumeIcon.icns

# macOS cache files
*.swp
*.swo

/assets/gallery